
body{
    background-color: black;
    color: white;
    font-family: "Jersey 10", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 100px;
}

button{
background-color: rgb(109, 74, 21);

}

.PSS {
display: none;

}
.PSS.AT {
    display: block ;
}

main{
    text-align: center;
    max-width: 90%;
}
img{
    max-width: 80%;
}